In [33]:
import pandas as pd
import pickle

In [2]:
bjt = pd.read_pickle("../bdc/hjt_cleaned.pickle")

In [3]:
bjt.head()

,section_id,section_description,travel time,time,est_speed,location
1,SECTIONTL0004,M32 Newfoundland Circus IB to Bond St at Glouc...,42.0,1.405451e+09,15.329002,"(51.459, -2.585)"
2,SECTIONTL0011,Bond St at Gloucester St EB to M32 Newfoundlan...,51.0,1.405451e+09,12.624410,"(51.46, -2.585)"
3,SECTIONTL0012,Old Market St East IB to M32 Newfoundland Circ...,493.0,1.405451e+09,1.305357,"(51.458, -2.585)"
4,SECTIONTL0028,Victoria St SB to Old Market St East OB,1335.0,1.405450e+09,1.689811,"(51.4535, -2.584)"
5,SECTIONTL0030,Victoria St SB to Bath Rd/ Three Lamps OB,207.0,1.405451e+09,10.885424,"(51.4535, -2.584)"

In [12]:
id_name = []
for i in bjt[["section_id", "section_description", "location"]].values:
    i = tuple(i)
    if not i in id_name:
        id_name.append(i)

In [13]:
len(id_name)

59

In [17]:
section_id_map = {}
section_id_info = {}
x = []
for (i, j, k) in id_name:
    num = i.strip("SECTIONTL")
    x.append( num)
    section_id_map[i] = num
    section_id_info[num] = {"id": i, "description": j, "location": k}

In [24]:
x

['0004',
 '0011',
 '0012',
 '0028',
 '0030',
 '0035',
 '0036',
 '0037',
 '0038',
 '0039',
 '0040',
 '0044',
 '0045',
 '0046',
 '0050',
 '0053',
 '0056',
 '0058',
 '0070',
 '0073',
 '0076',
 '0015',
 '0063',
 '0059',
 '00001',
 '00022',
 '00028',
 '00030',
 '00036',
 '00046',
 '00063',
 '00073',
 '00078',
 '00079',
 '00104',
 '00109',
 '00111',
 '00115',
 '00116',
 '00117',
 '00124',
 '00125',
 '00126',
 '00127',
 '00128',
 '00129',
 '00130',
 '00131',
 '00135',
 '00136',
 '00168',
 '00169',
 '00175',
 '00176',
 '0001',
 '0021',
 '0022',
 '0003',
 '0014']

In [26]:
for i in list(set([int(i) for i in x])):
    if "000"+str(i) not in x and "00"+str(i) not in x:
        print i

In [27]:
id_name

[('SECTIONTL0004',
  'M32 Newfoundland Circus IB to Bond St at Gloucester St WB',
  (51.459, -2.585)),
 ('SECTIONTL0011',
  'Bond St at Gloucester St EB to M32 Newfoundland Circus OB',
  (51.46, -2.585)),
 ('SECTIONTL0012',
  'Old Market St East IB to M32 Newfoundland Circus OB',
  (51.458, -2.585)),
 ('SECTIONTL0028',
  'Victoria St SB to Old Market St East OB',
  (51.4535, -2.584)),
 ('SECTIONTL0030',
  'Victoria St SB to Bath Rd/ Three Lamps OB',
  (51.4535, -2.584)),
 ('SECTIONTL0035',
  'Redcliffe Way West IB to Commercial Rd OB',
  (51.449, -2.587)),
 ('SECTIONTL0036',
  'Redcliffe Way West IB to Coronation Rd OB',
  (51.4455, -2.592)),
 ('SECTIONTL0037',
  'Redcliffe Way West IB to Bedminster Parade OB',
  (51.444, -2.593)),
 ('SECTIONTL0038',
  'Coronation Rd IB to Redcliffe Way West OB',
  (51.4495, -2.59)),
 ('SECTIONTL0039', 'Coronation Rd IB to St Lukes Rd OB', (51.445, -2.587)),
 ('SECTIONTL0040',
  'Coronation Rd IB to Bath Rd/ Three Lamps OB',
  (51.446, -2.59)),
 ('SECTIONTL0044',
  'Commercial Rd IB to Redcliffe Way West OB',
  (51.447, -2.591)),
 ('SECTIONTL0045',
  'Bedminster Parade IB to Coronation Rd OB',
  (51.4445, -2.593)),
 ('SECTIONTL0046',
  'Bedminster Parade IB to Redcliffe Way West OB',
  (51.448, -2.591)),
 ('SECTIONTL0050', 'Bedminster Parade IB to St Lukes Rd OB', (51.445, -2.588)),
 ('SECTIONTL0053', 'St Lukes Rd IB to Coronation Rd OB', (51.4445, -2.587)),
 ('SECTIONTL0056',
  'St Lukes Rd IB to Old Market St East OB',
  (51.446, -2.584)),
 ('SECTIONTL0058',
  'Cattlemarket Rd IB to Bath Rd/ Three Lamps OB',
  (51.4465, -2.5795)),
 ('SECTIONTL0070',
  'Bath Rd/ Three Lamps IB to Old Market St East OB',
  (51.4515, -2.585)),
 ('SECTIONTL0073',
  'Bath Rd/ Three Lamps IB to Victoria St NB',
  (51.4485, -2.584)),
 ('SECTIONTL0076',
  'Bath Rd/ Three Lamps IB to Coronation Rd OB',
  (51.4455, -2.5835)),
 ('SECTIONTL0015', 'Old Mkt East IB to Cattlemarket Rd OB', (51.448, -2.585)),
 ('SECTIONTL0063', 'Avon St IB to Cattlemarket Rd OB', (51.4515, -2.584)),
 ('SECTIONTL0059', 'Cattlemarket Rd IB to St Lukes Rd OB', (51.446, -2.5825)),
 ('SECTIONTL00001',
  'M32 Newfoundland Circus IB to Old Market St West WB',
  (51.457, -2.583)),
 ('SECTIONTL00022',
  'Old Market St West EB to M32 Newfoundland Circus OB',
  (51.457, -2.587)),
 ('SECTIONTL00028',
  'Victoria St SB to Old Market St East OB',
  (51.452, -2.587)),
 ('SECTIONTL00030',
  'Victoria St SB to Bath Rd/ Three Lamps OB',
  (51.448, -2.581)),
 ('SECTIONTL00036',
  'Redcliffe Way West IB to Coronation Rd OB',
  (51.448, -2.59)),
 ('SECTIONTL00046',
  'Bedminster Parade IB to Redcliffe Way West OB',
  (51.448, -2.594)),
 ('SECTIONTL00063', 'Avon St IB to Cattlemarket Rd OB', (51.452, -2.583)),
 ('SECTIONTL00073',
  'Bath Rd/ Three Lamps IB to Victoria St NB',
  (51.447, -2.584)),
 ('SECTIONTL00078', 'Three Lamps OB to Bath Rd P&R OB', (51.438, -2.555)),
 ('SECTIONTL00079',
  'Bath Rd P&R IB to Bath Rd/ Three Lamps IB',
  (51.436, -2.557)),
 ('SECTIONTL00104', 'Stokes Croft OB to A38 Monks Pk OB', (51.479, -2.591)),
 ('SECTIONTL00109', 'A38 Monks Pk IB to Stokes Croft IB', (51.479, -2.587)),
 ('SECTIONTL00111', 'A432/Straits IB to A432/Coombe IB', (51.475, -2.541)),
 ('SECTIONTL00115', 'A432/Coombe OB to A432/Straits OB', (51.477, -2.543)),
 ('SECTIONTL00116', 'Church Rd IB to Old Mkt East IB', (51.457, -2.563)),
 ('SECTIONTL00117', 'Old Mkt East OB to Church Rd OB', (51.459, -2.563)),
 ('SECTIONTL00124', 'Hartcliffe Way OB to Bath Rd P&R OB', (51.428, -2.569)),
 ('SECTIONTL00125', 'Bath Rd P&R IB to Hartcliffe Way IB', (51.426, -2.567)),
 ('SECTIONTL00126',
  'Hartcliffe Way IB to Parson St/Bed Dwn',
  (51.424, -2.607)),
 ('SECTIONTL00127',
  'Parson St/Parson SB to Hartclffe Wy OB',
  (51.424, -2.603)),
 ('SECTIONTL00128', 'Portway IB to Hotwell Rd IB', (51.454, -2.625)),
 ('SECTIONTL00129', 'Portway IB to Parson St/West', (51.436, -2.619)),
 ('SECTIONTL00130', 'Hotwell Rd OB to Portway OB', (51.454, -2.629)),
 ('SECTIONTL00131', "Parson St/W'Stoke to Portway OB", (51.436, -2.623)),
 ('SECTIONTL00135', 'Parson St/West to Bed Pde IB', (51.439, -2.604)),
 ('SECTIONTL00136', 'Bed Pde OB to Parson St/Bed Dwn', (51.437, -2.6)),
 ('SECTIONTL00168',
  'M32 J2 OB to Gloucester Rd @ Monks Park Ave OB',
  (51.477, -2.575)),
 ('SECTIONTL00169',
  'Gloucester Rd @ Monks Park Ave IB to M32 J2 IB',
  (51.479, -2.573)),
 ('SECTIONTL00175', 'Blackboy Hill IB to St Michaels IB', (51.463, -2.606)),
 ('SECTIONTL00176', 'St Michaels OB to Blackboy Hill OB', (51.463, -2.61)),
 ('SECTIONTL0001',
  'M32 Newfoundland Circus IB to Old Market St West WB',
  (51.4594, -2.584)),
 ('SECTIONTL0021',
  'Old Market St West EB to Bond St at Gloucester St WB',
  (51.4594, -2.586)),
 ('SECTIONTL0022',
  'Old Market St West EB to M32 Newfoundland Circus OB',
  (51.4594, -2.585)),
 ('SECTIONTL0003',
  'M32 Newfoundland Circus IB to Avon St OB',
  (51.456, -2.584)),
 ('SECTIONTL0014', 'Old Market St East IB to Avon St OB', (51.453, -2.584))]

In [28]:
bjt.drop("location", axis=1, inplace=True)
bjt.drop("section_description", axis=1, inplace=True)
bjt["section_id"] = bjt["section_id"].map(section_id_map)

In [30]:
bjt["travel_time"] = bjt["travel time"]
bjt.drop("travel time", axis=1, inplace=True)

In [31]:
bjt.head()

  section_id          time  est_speed  travel_time
1       0004  1.405451e+09  15.329002         42.0
2       0011  1.405451e+09  12.624410         51.0
3       0012  1.405451e+09   1.305357        493.0
4       0028  1.405450e+09   1.689811       1335.0
5       0030  1.405451e+09  10.885424        207.0

In [32]:
bjt.to_pickle("../bdc/hjt_cleaned_slim.pickle")

In [35]:
with open("../bdc/hjt_map_dict.pickle", "w") as p:
    pickle.dump(section_id_info, p)